<footer class="main-footer">
    <div class="container footer-grid">
        <div class="footer-col">
            <h3>Acerca de la Firma</h3>
            <p>Somos una firma dedicada a brindar soluciones integrales y personalizadas a nuestros clientes en Guatemala y más allá.</p>
            <div class="social-links">
                <p>Síguenos en nuestras redes sociales:</p>
                <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                <!-- Agrega más íconos de redes sociales según sea necesario -->
            </div>
        </div>

        <div class="footer-col">
            <h3>Enlaces de Interés</h3>
            <ul>
                    <li><a href="../index.html" class="active">Inicio</a></li>
                    <li><a href="../pages/nosotros.html">Nosotros</a></li>
                    <li><a href="../pages/clientes.html">Clientes Principales</a></li>
                    <li><a href="../pages/servicios.html">Servicios</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h3>Contacto</h3>
            <p><strong>Ubicación:</strong> Ciudad de Guatemala, Guatemala.  [Dirección específica aquí].</p>
            <p><strong>Email:</strong> info@tuempresa.com</p>
            <p><strong>Teléfono:</strong> +502 [Número de teléfono aquí]</p>
            <!-- Elimina la línea de fax si no es necesario -->
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="container">
            <p>&copy; 2024 [Nombre de tu empresa]. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>